[user]
	name = Dan
	email = danharrison73@icloud.com

[init]
	defaultBranch = main

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
